@import './config/colors.scss';
@import './nanoreset.scss';

html {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: auto;
}

body {
  background-color: $s-blue;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
ul {
  list-style: square;
  padding-left: 1.2rem;
  @media screen and (min-width: 768px) {
    padding-left: 2.5rem;
  }
  li {
    list-style: square;
  }
}

a {
  color: mix($s-blue, white, 30%);
  transition: color 0.15s ease-out;

  &:hover {
    transition: 0s;
    color: white;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

input[type='email'],
textarea {
  transition: box-shadow 0.15s ease-out;
  font-size: 1rem;
  padding: 0.9rem 1.1rem;
  border-radius: 8px;
  background-color: white;
  resize: vertical;
  overflow-x: auto;
  &::placeholder {
    font-weight: 100;
    letter-spacing: -0.5px;
  }
  &:focus {
    transition: background-color 0.15s ease-out;
    background-color: white !important;
    color: black;
  }
}

* {
  &:focus {
    outline: 0;
    box-shadow: 0 0 0px 4px HSLA(203, 100%, 60%, 1);
    border-radius: 8px;
  }
}

button {
  font-size: 1rem;
  background-color: HSLA(162, 99%, 46%, 1);
  font-weight: 500;
  border-radius: 8px;
  padding: 1rem;
  &:after {
    content: '';
    display: inline-block;
    background-image: url('../public/send.svg');
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1ex;
    margin-bottom: -0.4rem;
    background-size: cover;
  }
  &:disabled {
    visibility: hidden;
  }
}

#app {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.moomin-wrapper {
  margin-top: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 3rem;
  @media screen and (min-width: 768px) {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  @media screen and (min-width: 1400px) {
    justify-content: flex-end;
    margin-right: 4rem;
  }
  svg {
    height: 50vh;
    @media screen and (min-width: 768px) {
      width: calc(100% - 4rem);
      height: initial;
      max-width: 460px;
    }
    max-height: calc(100vw - 3rem);

    .moomin-head {
      transform-origin: center;
      animation: head-shake 5s forwards infinite;

      @keyframes head-shake {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(4deg) scale(0.99, 1) translateY(10px)
            translateX(-10px);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding-top: 4rem;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
  }
  @media screen and (min-width: 1400px) {
    align-items: flex-start;
    margin-left: 4rem;
  }
  .container {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 480px;
      max-width: 90%;
    }
    .title-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;

      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }
      h1 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        span {
          font-weight: 100;
        }
      }

      > span {
        font-weight: 400;
        font-size: 1.1rem;
        > span {
          font-size: 1.5rem;
          vertical-align: middle;
        }
      }
    }

    .contact-form-wrapper {
      margin: 0 2rem;

      h3 {
        font-weight: 500;
        font-size: 1.15rem;
        line-height: 1.6rem;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: calc(80px + 1rem);

        .form-field {
          display: flex;
          flex-direction: column;
          &:not(:last-of-type) {
            margin: 0.6rem 0;
          }

          label {
            display: none;
          }
        }

        .l-count {
          font-size: 0.7rem;
          font-variant-numeric: tabular-nums;
          margin-top: 0.6rem;
          text-align: right;
          color: rgba(white, 0.8);
          letter-spacing: 1px;
        }

        .control {
          text-align: right;
          margin: 0.6rem 0;
          display: flex;
          justify-content: space-between;

          input {
            padding: 1rem;
            width: 200px;
            max-width: 80%;
          }
        }

        .form-state-wrapper {
          display: inline-block;
          font-size: 1;
        }
      }
    }
  }
}

.flash {
  text-align: left;
  font-size: 0.9rem;
  span {
    font-weight: 500;
  }
}

.pending-flash {
  span {
    margin-bottom: 1rem;
  }
  .spinner {
    width: 1rem;
    animation: spin 1.3s linear forwards infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}

footer {
  margin-bottom: 2rem;
  @media screen and (min-width: 768px) {
    transform: skewY(-10deg);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.4rem 0 1rem 0;
    width: 300px;
    // background-color: white;
    color: white;
    // box-shadow: 0 0 0 6px HSLA(218, 99%, 25%, 1);

    &:after {
      // content: '';
      position: absolute;
      background-color: HSLA(242, 54%, 84%, 1);
      bottom: 7.1rem;
      box-shadow: 0 0 0 6px HSLA(218, 99%, 25%, 1);
      left: -7rem;
      width: 130px;
      height: 130px;
      transform: skewX(60deg);
    }

    .contact {
      margin-top: 0.5rem;
      // margin-left: -1rem;
      transform: skewY(10deg);
    }
  }

  .contact {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8em;
    @media screen and (min-width: 768px) {
      font-size: 0.8rem;
      transform: skewX(-5deg);
    }
    h2 {
      font-size: 1.65rem;
      letter-spacing: -1;
      // width: 400px;
      font-weight: 700;
      line-height: 1.8em;
    }
    @media screen and (min-width: 768px) {
      padding: 0rem 3rem;
    }
  }
}
